<!-- Welcome Section -->
<section class="overflow-hidden">
  <div class="home-hero-container position-relative">
    <!-- Hero Banner -->
    <div class="animation-container">
      <div class="animation">
        <video autoplay loop muted plays-inline class="gitting-social">
          <!-- <video class="gitting-social"> -->
          <source src="videos/render0001-0200.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <!-- Sign up -->
    <div
      class="home-hero position-absolute z-1 top-0 right-0 bottom-0 left-0 overflow-hidden"
    >
      <div
        class="d-flex flex-column flex-justify-between mx-auto container-xl p-responsive height-full pb-md-9"
      >
        <div
          class="d-flex flex-column flex-lg-row flex-items-center height-full"
        >
          <div class="col-12 col-lg-7 text-center text-md-left">
            <h1 class="h2-mktg color-text-white mb-3 position-relative z-2">
              Time to Git Social
            </h1>
            <p
              class="f2-mktg col-md-7 col-lg-11 col-xl-10 text-normal text-gray-light-mktg mr-lg-n4 mb-4 position-relative z-2"
            >
              Sign up here.
            </p>
            <form
              data-turbo="false"
              class="mx-auto mx-md-0 col-5-max js-signup-form position-relative z-2"
              autocomplete="off"
              action="/sign-up"
              accept-charset="UTF-8"
              method="get"
            >
              <div class="d-flex flex-column flex-sm-row flex-items-center">
                <button
                  class="btn-mktg width-full width-sm-auto btn-signup-mktg"
                  type="submit"
                >
                  Sign up for Git Social
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>