<html lang="en">
  <head>
    <meta content="charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Git Social</title>
    <!-- CSS  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="/stylesheets/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="/stylesheets/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>

  <body
    class="logged-out page-responsive header-overlay tab-size-and-alignment-fix"
    style="word-wrap: break-word"
  >
    <div class="position-relative">
      <header
        class="Header-old header-logged-out js-details-container Details position-relative f4 py-2"
        role="banner"
      >
        <nav class="nav-wrapper container">
          {{! TODO: this should link to home }}
          <a id="logo-container" href="#!" class="brand-logo white-text">Git
            Social</a>
          <div class="mt-0 px-3 px-lg-0 mb-5 mb-lg-0">
            <div class="container-xl d-lg-flex flex-items-center p-responsive">
              <div
                class="HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto"
              >
                <!-- List items on dashboard -->
                <!-- Keep spacing on nav-->
                <nav class="mt-0 px-3 px-lg-0 mb-5 mb-lg-0" aria-label="Global">
                  {{! <ul class="d-lg-flex list-style-none hide-on-med-and-down">
                    <li
                      class="mr-0 mr-lg-3 position-relative flex-wrap flex-justify-between flex-items-center border-bottom border-lg-bottom-0 d-block d-lg-flex flex-lg-nowrap flex-lg-items-center"
                    ></li>
                  </ul> }}
                </nav>
                <div
                  class="d-lg-flex flex-items-center px-3 px-lg-0 text-center text-lg-left"
                >
                  {{#if loggedIn}}
                    <div
                      class="position-relative mr-3 mb-4 mb-lg-0 d-inline-block hide-on-med-and-down"
                    >
                      <ul
                        class="d-lg-flex list-style-none hide-on-med-and-down"
                      >
                        {{! removed icons }}
                        <li class="nav-item">
                          {{! removed icons }}
                          <a href="/">Home</a>
                        </li>
                        <li class="nav-item">
                          {{! removed icons }}
                          <a href="/dashboard">Dashboard</a>
                        </li>
                        {{! <li class="nav-item">
                          removed icons 
                          <a href="#">Posts</a>
                        </li> }}
                        <li class="nav-item">
                          <a
                            class="waves-effect waves-light btn-small logout-button"
                            id="logout"
                          >Logout
                            <svg
                              width="15"
                              height="15"
                              viewBox="0 0 15 15"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            ><path
                                d="M3 1C2.44771 1 2 1.44772 2 2V13C2 13.5523 2.44772 14 3 14H10.5C10.7761 14 11 13.7761 11 13.5C11 13.2239 10.7761 13 10.5 13H3V2L10.5 2C10.7761 2 11 1.77614 11 1.5C11 1.22386 10.7761 1 10.5 1H3ZM12.6036 4.89645C12.4083 4.70118 12.0917 4.70118 11.8964 4.89645C11.7012 5.09171 11.7012 5.40829 11.8964 5.60355L13.2929 7H6.5C6.22386 7 6 7.22386 6 7.5C6 7.77614 6.22386 8 6.5 8H13.2929L11.8964 9.39645C11.7012 9.59171 11.7012 9.90829 11.8964 10.1036C12.0917 10.2988 12.4083 10.2988 12.6036 10.1036L14.8536 7.85355C15.0488 7.65829 15.0488 7.34171 14.8536 7.14645L12.6036 4.89645Z"
                                fill="currentColor"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                              ></path></svg>
                          </a>

                        </li>
                      </ul>
                    </div>
                  {{else}}
                    <div
                      class="position-relative mr-3 mb-4 mb-lg-0 d-inline-block hide-on-med-and-down"
                    >
                      <a href="/login">Sign in</a>
                    </div>

                    <div
                      class="position-relative mr-3 mb-4 mb-lg-0 d-inline-block hide-on-med-and-down"
                    >
                      <form
                        data-turbo="false"
                        class="mx-auto mx-md-0 col-5-max js-signup-form position-relative z-2"
                        autocomplete="off"
                        action="/sign-up"
                        accept-charset="UTF-8"
                        method="get"
                      >
                        <div
                          class="d-flex flex-column flex-sm-row flex-items-center"
                        >
                          <button
                            class="btn-mktg width-full width-sm-auto btn-signup-mktg"
                            type="submit"
                          >
                            Sign up for Git Social
                          </button>
                        </div>
                      </form>
                    </div>
                  {{/if}}
                </div>
              </div>
              <!-- Nav on mobile -->
              <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign Up</a></li>
              </ul>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
                  class="material-icons"
                >menu</i></a>
            </div>
          </div>
        </nav>
      </header>
    </div>

    <main class="font-mktg">
      {{#unless loggedIn}}
        <!-- Welcome Section -->
        {{>welcome-page}}
      {{/unless}}
      {{{body}}}
    </main>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">What We Do</h5>
            <p class="grey-text text-lighten-4">
              Git Social is a platform for new developers to connect and
              collaborate on projects while building their portfolios.
            </p>
          </div>
          <div class="col l6 s12">
            <h5 class="white-text">Developers</h5>
            <div class="socials">
              <ul>
                <li>
                  <a
                    class="white-text"
                    href="https://github.com/joesen-dev"
                    class="social"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#ffffff"
                      width="50"
                      height="50"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                      ></path>
                    </svg>
                    Joseph
                  </a>
                </li>
                <li>
                  <a
                    class="white-text"
                    href="https://github.com/leunggerry"
                    class="social"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#ffffff"
                      width="50"
                      height="50"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                      ></path>
                    </svg>
                    Gerry
                  </a>
                </li>
                <li>
                  <a
                    class="white-text"
                    href="https://github.com/khalidbhaarat"
                    class="social"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#ffffff"
                      width="50"
                      height="50"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                      ></path>
                    </svg>
                    Mohammad
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by
          <a
            class="brown-text text-lighten-3"
            href="https://github.com/leunggerry/git-social/tree/main"
          >
            Mohammad, Gerry & Joseph
          </a>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascript/materializeJS/materialize.js"></script>
    <script src="/javascript/materializeJS/init.js"></script>
  </body>
</html>