<form class="signup-form">
  <div class="bg-img">
    <div class="content">
      <header>Sign up</header>
      <form action="#">
        <div class="row">
          <div class="col s12">
            <div class="field">
              <span class="user"></span>
              <input
                type="text"
                required
                placeholder="Enter Username"
                id="username-signup"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="field">
              <span class="user"></span>
              <input
                type="text"
                required
                placeholder="Enter Email"
                id="email-signup"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="field space">
              <span class="lock"></span>
              <input
                type="password"
                class="pass-key"
                required
                placeholder="Enter Password"
                id="password-signup"
              />
              <span class="show">SHOW</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="field">
              <span class="user"></span>
              <input
                type="text"
                required
                placeholder="Enter Github username"
                id="github"
              />
            </div>
          </div>
        </div>

        <div class="field login-button">
          <input type="submit" value="SIGN UP" />
        </div>
      </form>
    </div>
  </div>
</form>

<script src="/javascript/signup.js"></script>